*{
	font-family: "Century Gothic"
}

body{
	overflow-x: hidden
}

a {

	text-decoration: none
}

#topo1 a{
	color:#FFFFFF
}

#topo1 a:hover{
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	margin-bottom: 10px
}

#topo1{
	background: #008af0;
	height: 40px;
	line-height: 40px;
	font-size: large;
	color:#FFFFFF;
}

#topo2{
	background: #0083c1;
	height: 120px;
}

#corpo{
	min-height: 500px;
	padding: 10px 50px 0px 50px
}

#rodape1{
	margin-top: 10px;
	background: #161816;
	height: 150px;
}

#rodape2{
	background: #0c0c0c;
	height: 50px;
	text-align: left;
}

#icone-carrinho{
	max-width: 60px;
	margin-top: 20px;
	cursor: pointer;
}

a:hover #icone-carrinho{
	border-bottom:3px #FFFFFF solid
}

.modal a{
	color: #0083c1;
}

.modal a:hover{
	text-decoration: underline
}

#div-logo{
	line-height: 120px;
	text-align: center
}

.logo{
	color:#FFFFFF;
	margin-top: 40px
}

.lista-rodape{
	list-style: none;
}

.lista-rodape li{
	margin-top: 10px;
}

#div-banner{
	height: 300px;
	padding: 0!important
}

#menu-loja{
	height: 300px;
	padding-left: 0
}

#menu-loja ul{
	border:1px solid #808080;
	height: 100%;
	border-radius: 5px;
}

#menu-loja ul li{
	border-bottom:1px solid #808080;
	margin:0px 5px 0px 5px
}

.item-produto{
	border:1px solid #808080;
	height: 170px;
	padding: 0!important;
	text-align: center
}

.img-item-produto{
	height: 128px;
}

.botoes-produto{
	width: 100%;
	height: 170px;
	text-align: center;
	position:absolute;
	top:0px;
	display: none;
	background: rgba(50,50,50,0.5);
	padding-top: 70px
}

.descricao-produto{
	height: 20px;
}

.preco-produto{
	font-weight: bold;
	height: 20px
}

.div-produtos{
	margin-top: 20px
}

#div-logo h2, #div-logo h3{
	display: inline
}

.carousel-inner .item img{
	width: 100%
} 